<a href="https://colab.research.google.com/github/khaeuss808/Kayla_Haeussler_Mini_Project_9/blob/main/unisexNames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analysis of Gender Neutral Names

In [1]:
import pandas as pd

In [2]:
names_df = pd.read_csv(
    "https://github.com/fivethirtyeight/data/raw/refs/heads/master/unisex-names/unisex_names_table.csv"
)
names_df.columns
names_df = names_df.drop("Unnamed: 0", axis=1)
names_df.head()

     name          total  male_share  female_share       gap
0   Casey  176544.328149    0.584287      0.415713  0.168573
1   Riley  154860.665173    0.507639      0.492361  0.015278
2  Jessie  136381.830656    0.477834      0.522166  0.044331
3  Jackie  132928.788740    0.421133      0.578867  0.157735
4   Avery  121797.419516    0.335213      0.664787  0.329574

## Most Popular Gender Neutral Names

In [3]:
# Sort the DataFrame by 'total' in descending order and select the top 5
top_5_names = names_df.sort_values(by="total", ascending=False).head(5)

# Display the result
print(top_5_names)

     name          total  male_share  female_share       gap
0   Casey  176544.328149    0.584287      0.415713  0.168573
1   Riley  154860.665173    0.507639      0.492361  0.015278
2  Jessie  136381.830656    0.477834      0.522166  0.044331
3  Jackie  132928.788740    0.421133      0.578867  0.157735
4   Avery  121797.419516    0.335213      0.664787  0.329574

## Gender Gap Analysis

In [4]:
# Find the top 5 names with the largest gender gaps
largest_gaps = names_df.sort_values(by="gap", ascending=False).head(5)

# Find the top 5 names with the smallest gender gaps
smallest_gaps = names_df.sort_values(by="gap", ascending=True).head(5)

# Display the results
print("Top 5 names with the largest gender gaps:")
print(largest_gaps)

print("\nTop 5 names with the smallest gender gaps (most gender-neutral):")
print(smallest_gaps)

Top 5 names with the largest gender gaps:
          name       total  male_share  female_share       gap
639     Aldean  262.841418    0.333561      0.666439  0.332879
667  Oluwaseyi  237.927401    0.666278      0.333722  0.332555
698    Kamarri  217.436651    0.666259      0.333741  0.332519
756     Vernis  172.896311    0.666205      0.333795  0.332409
565      Karem  345.429988    0.333961      0.666039  0.332078

Top 5 names with the smallest gender gaps (most gender-neutral):
         name        total  male_share  female_share       gap
622     Bless   279.904057    0.499964      0.500036  0.000072
108    Camdyn  3274.913501    0.499923      0.500077  0.000154
431     Kodee   533.325804    0.500158      0.499842  0.000316
609  Callaway   291.851857    0.499772      0.500228  0.000455
814      Tkai   142.846541    0.499715      0.500285  0.000570